body{

    background: linear-gradient(to bottom, #000000, #0f172a, #240046);

    color: white;

    font-family: Arial;

    margin: 0;
}

.encabezado{

    text-align: center;

    padding: 35px;
}

.encabezado h1{

    color: white;

    font-size: 50px;

    text-shadow: 4px 4px 8px gray;
}

.encabezado p{

    color: #d4d4d4;

    font-size: 18px;
}

.menu{

    text-align: center;

    padding: 18px;

    border-top: 2px solid #3b82f6;

    border-bottom: 2px solid #8b5cf6;

    background-color: #09090b;
}

.menu a{

    color: white;

    text-decoration: none;

    margin: 10px;

    padding: 10px;

    border: 1px solid #8b5cf6;

    background-color: #111827;

    border-radius: 8px;
}

.contenido{

    text-align: center;

    padding: 30px;
}

.caja{

    margin: 25px;

    padding: 25px;

    border: 2px solid #3b82f6;

    background-color: #111827;

    border-radius: 12px;

    box-shadow: 0px 0px 12px black;
}

.caja h2{

    color: #c084fc;
}

.caja p{

    font-size: 18px;
}